{% import 'bootstrap/wtf.html' as wtf %}
  <div class ="row" style="margin-bottom:0px;">
    {% if story.story.comments.count()>0 %}
      <h3>
        {% if story.story.comments.count()==1 %}
          😏 Un seul commentaire. Animez la conversation!
        {% else %}
          🔥 Déjà {{ story.story.comments.count() }} commentaires. Participez à la conversation!</h3>
        {% endif %}
      </h3>
      {% for comment in story.story.comments %}
        <div class="media col-md-12 mb-3">
          <div class="text-center">
            <img class="mr-3 rounded-circle" src="
              {% if comment.author.picture %}
                {{comment.author.picture.url}}
              {% else %}
                {{comment.author.avatar(100)}}
              {% endif %}
              "
              alt="{{comment.author.username}}" width="100" height="100">

          </div>
          <div class="media-body">

            <blockquote class="blockquote">
                <p class="quotation-mark">
                  “
                </p>
                <p class="quotation-text">
                  {% if comment.html_content %}
                    {{ comment.html_content | safe}}
                  {% else%}
                    {{ comment.content }}
                  {% endif %}
              </p>
              <hr>
              <cite class="text-muted badge">
                <p class="pull-left">
                  {{comment.author.username}}
                </p>
                <p>
                  <span class="badge"><time class="timeago" datetime="{{comment.timestamp}}">{{comment.timestamp}}</time></span>
                </p>
              </cite>
            </blockquote>
          </div>
        </div>
      {% endfor %}


    {% else %}
      <h3>😕Aucun commentaire... Ajoutez en un!</h3>
    {% endif %}
  </div>
  <div class="row" style="margin-bottom:30px;">
    <div class="col-md-12">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
