<article class="card mb-4">
    <header class="card-header">
        <div class="card-meta">
            <a href="#">
                <time class="timeago" datetime="{{ post.timestamp }}">
                </time>
            </a>
        </div>
        <a href="{{ url_for('main.view_story', story_id=post.id) }}">
            <h4 class="card-title">
                {{ post.title }}
            </h4>
        </a>
    </header>
    {% if post.media.count()>0 %}
        <a href="{{ url_for('main.view_story', story_id=post.id) }}">
            <img class="card-img" src="{{ post.media[0].url }}" alt="" />
        </a>
    {% endif %}
    <div class="card-body">
        <p class="card-text">
            {% if post.html_content %}
                {{ post.html_content | safe}}
            {% else%}
                {{ post.content }}
            {% endif %}
        </p>
    </div>
</article>
