<article class="card mb-4 index-card">
    <header class="card-header">
        <div class="card-meta">
                {{ post.date_for.strftime('%d %b %Y') }}
        </div>
        <a href="{{ url_for('main.view_story_date', storyline=storyline.slug, a_date=post.date_for.strftime('%d-%m-%Y')) }}">
            <h4 class="card-title">
                {{ post.title }}
            </h4>
        </a>
    </header>
    <div class="card-body">
    {% if post.media.count()>0 %}
        <a href="{{ url_for('main.view_story_date', storyline=storyline.slug, a_date=post.date_for.strftime('%d-%m-%Y')) }}">
            <img class="card-img" src="{{ post.media[0].url }}" alt="" />
        </a>
    {% endif %}
        <p class="card-text">

            {{ post.excerpt() | safe }}... <a href="{{ url_for('main.view_story_date', storyline=storyline.slug, a_date=post.date_for.strftime('%d-%m-%Y')) }}">Lire la suite</a>
        </p>
    </div>
</article>
