<div class="col-lg-3">
  <article class="card card-outline mb-4">
      <div class="card-body">
          <header class="mb-4">
              <h5 class="card-title">

                  {{story.stay_place}}
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  <i class="fas {{stay_type_icons[story.stay_type]}} fa-2x"></i> {{ story.stay_type_label }}
              </h6>
          </header>
          <blockquote class="blockquote mt-5">
            <p class="quotation-mark">

            </p>
            <p class="quotation-text">{{  story.stay_description }}</p>
          </blockquote>
          {% if story.story.itinerary %}
          <header>
            {% if story.travel_type=='CAR' %}
              <i class="fas fa-circle fa-xs"></i><i class="fas fa-circle fa-xs"></i><i class="fas fa-circle fa-sm"></i><i class="fas fa-car-side fa-2x"></i>
              {% if story.odometer_at %}
              {{ story.odometer_at }}
              {% endif %} <small>mi.</small>
            {% endif %}
            {% if story.travel_type=='FLIGHT' %}
              <i class="fas fa-plane fa-2x"></i>
            {% endif %}

            <h6>
              <i class="fas
                            {% if story.travel_type=='CAR' %}
                            fa-map-marker-alt
                            {% endif %}
                            {% if story.travel_type=='FLIGHT' %}
                            fa-plane-departure
                            {% endif %}
                        fa-sm" style="color: rgb(112, 148, 245)"></i><em>{{ ' '+story.start_place }}</em>
            </h6>
            <h6>
              <i class="fas
                            {% if story.travel_type=='CAR' %}
                            fa-flag
                            {% endif %}
                            {% if story.travel_type=='FLIGHT' %}
                            fa-plane-arrival
                            {% endif %}
                        fa-sm" style="color: rgb(217, 80, 64)"></i><em>{{ ' '+story.end_place }}</em>
            </h6>
          </header>
          {% endif %}
      </div>
  </article>
</div>
<div class="col-lg-9">
  <article class="card map">
    <!--<div class="card-body">-->
      <div id="map-canvas" style = "height:25rem;width:100%;background-color: #DDD">
        {{map2.html}}
      </div>
    <!--</div>-->
  </article>
</div>
