      <header role="banner">
        <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
          <div class="container">

            <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand order-1 order-md-3" href="{{ url_for('main.index') }}">
            {% if current_user.is_anonymous %} {{ website }} {% else %}The Boulomb USA 2019 {% endif %}</a>
            {% if not current_user.is_anonymous %}
            <div class="collapse navbar-collapse order-4 order-md-3" id="navbar">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('main.fullstory') }}"><i class="fa fa-pen-fancy fa-2x" title="Ajouter une nouvelle journée"></i></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('main.user',username=current_user.username) }}"><i class="fa fa-user-alt fa-2x" title="Accéder au profil"></i></a>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </nav>
      </header>
