      <header role="banner">
        <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
          <div class="container">

            <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand order-1 order-md-3" href="{{ url_for('main.index') }}">
            {% if current_user.is_anonymous %} {{ website }} {% else %}The Boulomb USA 2019 {% endif %}</a>
            {% if not current_user.is_anonymous %}
            <div class="collapse navbar-collapse order-4 order-md-3" id="navbar">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('main.itinerary', page=1) }}">Itinéraires</a>
                </li>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ajouter</i> </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="{{ url_for('main.story') }}">Contribution</a>
                    <a class="dropdown-item" href="{{ url_for('main.new_itinerary') }}">Itinéraire</a>
                  </div>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </nav>
      </header>
