<article class="card card-outline mb-4 card-img">
    <div class="card-body">

        <header>
            {% if membership.member == current_user %}
                <a href="{{url_for('main.edit_profile',username=membership.member.username)}}">
            {% endif %}
                <img class="rounded-circle user-profile card-img" src="
                    {% if membership.member.picture %}
                        {{ membership.member.picture.url }}
                    {% else %}
                        {{ membership.member.avatar(256) }}
                    {% endif %}
                    " alt="{{ membership.member.username }}">
            {% if membership.member == current_user %}
                </a>
            {% endif %}
            <h4 class="card-title">
                {{ membership.member.username }}
            </h4>
            {% if current_user.roles_in_storyline().is_contributor %}
            <h6 class="card-subtitle mb-2 text-muted">
                Etait ici {{moment(membership.member.last_seen).fromNow()}}
            </h6>
            {% endif %}
        </header>
        <p class="card-text">
            {% if membership.member.about_me %}
                {{ membership.member.about_me }}
            {% else %}
                Pas de status
            {% endif %}
            {% if current_user.roles_in_storyline().is_admin %}
            <p>
                <a href="{{url_for('auth.reset_password_request', username=membership.member.username) }}">
                    <i class="fas fa-key"></i> Nouveau mot de passe</a>
            </p>
            {% endif %}

        </p>
    </div>
</article>
