{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Our Storylines{% else %}Welcome to Our Storylines{% endif %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/sl.css">
  <link rel="stylesheet" href="/static/css/style.css" />
{% endblock %}

{% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('main.index') }}">Our Storylines - \ the current line</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav mr-auto">
                  <li class="nav-item">
                    <!--<a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>-->
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_anonymous %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                  </li>
                  {% else %}
                  <li class="nav-item">

                    <a class="nav-link" href="{{ url_for('main.story') }}"><i class="fas fa-plus-circle"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}"><i class="fas fa-user-circle"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i></a></li>
                  {% endif %}
              </ul>
          </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category}}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script data-require="marked@*" data-semver="0.3.1" src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.js"></script>
    <script src="https://rawgit.com/jeresig/jquery.hotkeys/master/jquery.hotkeys.js"></script>
      <script src="https://cdn.rawgit.com/toopay/bootstrap-markdown/master/js/bootstrap-markdown.js
"></script>
  <script src="/static/js/jquery.filedrop.js"></script>
  <script src="/static/js/markdown.js"></script>
  <script src="/static/js/to-markdown.js"></script>
  <!--<script src="/static/js/bootstrap-markdown.js"></script>-->
  <script src="/static/js/script.js"></script>
  {{ moment.include_moment() }}

{% endblock %}
