{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row">
        <h3>👨‍👩‍👧‍👦 Les Boulombs</h3>
    </div>
    <div class="row">
        {% for membership in memberships if membership.is_contributor %}
            <div class="col-md-3">
                {% include "_user.html" %}
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <h3>😘 Les Amis Qui Nous Suivent </h3>
    </div>
    <div class="row">
        {% for membership in memberships if membership.is_visitor %}
            <div class="col-md-3">
            {% include "_user.html" %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang("fr") }}

{% endblock %}
