{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h2>Que s'est-il passé aujourd'hui?</h2>
        <hr />
      </div>
    </div>
  </div>
  <form class="form" method="post" role="form" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-6">

          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}
          <div class="form-group required">
            <label class="control-label" for="day">Date</label>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                    <input type="text" name="day" class="form-control form-control-lg datetimepicker-input" data-target="#datetimepicker1"
                    {# if story #} value="{{ form.day.data.strftime('%d/%m/%y') }}" {# endif #}/>
            </div>
          </div>
          {{ wtf.form_field(form.title, **{'placeholder': 'Entrez un titre', 'class': 'form-control form-control-lg'}) }}
          {{ wtf.form_field(form.stay, **{'class': 'form-control form-control-lg'}) }}
          {{ wtf.form_field(form.stay_type, **{'class': 'form-control form-control-lg'}) }}
          <!--<div class="form-group custom-file">
            <label class="custom-file-label control-label" for="post_images">Ajouter des photos!</label>
            <input type="file" class="custom-file-input" id="post_images" name="post_images" multiple>
          </div>-->
          {{ wtf.form_field(form.post_images, **{'multiple':''})}}
      </div>
      <div class="col-md-6">
          {{ wtf.form_field(form.start, **{'class': 'form-control form-control-lg'}) }}
          {{ wtf.form_field(form.end, **{'class': 'form-control form-control-lg'}) }}
          {{ wtf.form_field(form.travel_type, **{'class': 'form-control form-control-lg'}) }}
          {{ wtf.form_field(form.odometer_read, **{'class': 'form-control form-control-lg'}) }}
      </div>
      <div class="col-md-12 style" style="margin-bottom:30px">
          {{ wtf.form_field(form.post, **{'placeholder': 'Décrivez votre journée...', 'class': 'form-control form-control-lg'}) }}
          {{ wtf.form_field(form.submit, **{'class': 'btn btn-primary'}) }}

      </div>
    </div>
  {% if story %}
    {% if story.media %}
      <hr>
      <div>
          <h3>Media déjà lié à cette contribution</h3>
          {% for image in story.media %}
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <article class="card card-outline mb-4">
                <img class="card-img-top" src="{{ image.url }}" alt="Card image cap">
                <!--<div class="card-body">-->
                  <!--<header>-->
                    {{ wtf.form_field(form[image.filename+'comment'], **{'class': 'form-control'}) }}
                  <!--</header>-->
                  <a href="{{ url_for('main.delete_picture', story_id=story.id, picture_id=image.id) }}" class="card-link"><i class="fas fa-trash-alt fa-2x"></i> Supprimer</a>
                <!--</div>-->
              </article><!-- /.card -->
            </div>
          {% endfor %}
      </div>
      {{ wtf.form_field(form.submit, **{'class': 'btn btn-primary'}) }}
    {% endif %}
  {% endif %}
  </form>
</div>
{% endblock %}
