{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% block script %}
      {{ super }}
      {{ pagedown.include_pagedown() }}
    {% endblock %}
    <br>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item {% if not prev_url %} disabled{% endif %}">
          <a class="page-link disabled" href="{{ prev_url or '#' }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% for n in range(pages) %}
            <li class="page-item">
                <a class="page-link" href=" {{ url_for('main.index', page=n+1) }}">{{ n + 1 }}</a>
            </li>
        {% endfor %}
        <li class="page-item {% if not next_url %} disabled{% endif %}">
          <a class="page-link" href="{{ next_url or '#' }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
{% endblock %}
