{% extends "base.html" %}

{% block app_content %}
  <div class="grid">
    {% for post in posts %}
      <div class="grid-item">
        {% include '_intro_card.html' %}
      </div>
    {% endfor %}
  </div>
<!--  <div class="scroller-status">
    <div class="infinite-scroll-request loader-ellips">
      ...
    </div>
    <p class="infinite-scroll-last">End of content</p>
    <p class="infinite-scroll-error">No more pages to load</p>
  </div>-->
  <div class="infinite-pagination">
    <a class="pagination__next" href="{{ url_for('main.index', page=page + 1) }}">Next page</a>
  </div>

{% endblock %}
