{% extends "base.html" %}

{% block app_content %}
 <div class="container">
  <div class="row">
    {% include '_story_header.html' %}
  </div>
  <div class="row mb-4">
    <div class="col-lg-12">
      <img src="{{ story.featured_image().url }}" class="float-left" width=100% alt="{{ story.featured_image().name }}">
    </div>
  </div>
  <div class="row mb-4 story">
    <div class="col-lg-12">
      <div class="post">
        <div class="card-text">

          {% if story.html_content %}
              {{ story.html_content | safe}}
          {% else%}
              {{ story.content }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if story.story.in_trip_story() %}
    <div class ="row mb-4">
      {% include '_itinerary.html' %}
    </div>
  {% endif %}
  <hr />
  {% include "_commenting.html" %}
  <hr />
  {% if story.media %}
  <div class ="picture-carousel row mb-4">
    {% include "_pictures_of_the_day.html" %}
  </div>
  {% endif %}
  <div class="row mb-1 justify-content-center">
    <nav>
      <ul class="pagination pg-blue ">
        {% if prev_story_date %}
          <li class="page-item">
            <a href="{{ url_for('main.view_story_date', storyline=storyline.slug, a_date=prev_story_date.strftime('%d-%m-%Y')) }}"class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo; {{ prev_story_date.strftime('%d %b %Y') }}</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        {% endif %}
        <li class="page-item active">
          <a href="#" class="page-link">{{ story.date_for.strftime('%d %b %Y') }}</a>
        </li>
        {% if next_story_date %}
          <li class="page-item">
            <a href="{{ url_for('main.view_story_date', storyline=storyline.slug, a_date=next_story_date.strftime('%d-%m-%Y')) }}" class="page-link" aria-label="Next">
              <span aria-hidden="true">{{ next_story_date.strftime('%d %b %Y') }} &raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
{% block scripts %}
  {{ super() }}
{% if story.story.in_trip_story() %}
  {{ map2.js }}
{% endif %}
  {{ moment.include_moment() }}
  {{ moment.lang("fr") }}

{% endblock %}


