{% extends "base.html" %}

{% block app_content %}
 <div class="container">
  <div class="row">
    {% include '_story_header.html' %}
  </div>
  <div class="row mb-4">
    <div class="col-lg-12">
      <img src="{{ story.featured_image().url }}" class="float-left" width=100% alt="{{ story.featured_image().name }}">
    </div>
  </div>
  <div class="row mb-4 story">
    <div class="col-lg-12">
      <div class="post">
        <div class="card-text">

          {% if story.html_content %}
              {{ story.html_content | safe}}
          {% else%}
              {{ story.content }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class ="row mb-4">
    {% include '_itinerary.html' %}
  </div>
  <hr />
  {% include "_commenting.html" %}
  <hr />
  {% if story.media %}
  <div class ="row mb-4">
    {% include "_pictures_of_the_day.html" %}
  </div>
  {% endif %}
</div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  {{ map2.js }}
  {{ moment.include_moment() }}
  {{ moment.lang("fr") }}

{% endblock %}


