{% block scripts %}
  {{ map2.js }}
{% endblock %}
{% extends "base.html" %}

{% block app_content %}
 <div class="container">
  <div class="row">
    <div class="col-md-3 ml-auto">
        <div class="card-title">
            <div class="fa-7x">
                <span class="fa-layers fa-fw text-center">
                    <i class="fas fa-calendar"></i>
                    <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1.5" style="font-weight:900">{{ '{d.day}'.format(d=story.date_for)  }}</span>

                    <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-13 down-6" style="font-weight:900">{{ story.date_for.strftime('%b') }}</span>
                </span>
            </div>
        </div>

    </div>
    <div class="col-md-9 ml-auto">
      <article class="card mb-4">
        <header class="card-header text-center">
          <div class="text-center">
            <h3 class="display-3 text-left">{{ story.title }}</h3>
          </div>
        </header>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ml-auto">
      <div class="card-body">
          <div class="post">
            <p class="card-text">
              {% if story.html_content %}
                  {{ story.html_content | safe}}
              {% else%}
                  {{ story.content }}
              {% endif %}
            </p>
          </div>
      </div>
    </div>
  </div>
  <div class ="row">
    {% for image in story.media %}
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="{{ url_for('main.edit_story', story_id=story.id) }}">
            <img class="card-img" src="{{ image.url }}" alt="" />
        </a>
      </div>
    {% endfor %}
  </div>
  <div class ="row" style="margin-bottom:30px;">
    <div class="col-md-3">
      <div class="card-body">
          <div class="post card-text">
            <p>
              From: {# story.from #} LA
            </p>
            <p>
              To: {# story.to #} Joshua
            </p>
          </div>
      </div>
    </div>
    <div class="col-md-9 ml-auto">
      <div class="card-body">
          <div id="map-canvas" style = "height:500px; background-color: #DDD">
            {{map2.html}}
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
