{% extends "base.html" %}

{% block app_content %}
 <div class="container">
  <div class="row">
    <div class="col-md-9 ml-auto">
      <article class="card mb-4">
        <header class="card-header text-center">
          <div class="text-center">
            <h3 class="display-3 text-left">{{ story.title}}</h3>
          </div>
        </header>
        {% if story.media.count()>0 %}
          <a href="{{ url_for('main.edit_story', story_id=story.id) }}">
              <img class="card-img" src="{{ story.media[0].url }}" alt="" />
          </a>
        {% endif %}
        <div class="card-body">
            <div class="post">
              <p class="card-text">
                {% if story.html_content %}
                    {{ story.html_content | safe}}
                {% else%}
                    {{ story.content }}
                {% endif %}
              </p>
            </div>
        </div>
        <div class="row">
        {% for image in story.media %}
            {% if loop.index != 1%}
              <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="{{ url_for('main.edit_story', story_id=story.id) }}">
                    <img class="card-img" src="{{ image.url }}" alt="" />
                </a>
              </div>
            {% endif %}
        {% endfor %}
        </div>
      </article>
    </div>
    <div class="col-md-3 ml-auto">
      <aside class="sidebar">
        <div class="card mb-4">
          <div class="card-body">
            <time class="timeago" datetime="{{ story.timestamp }}">
            </time>
            <br >
            <a href="{{ url_for('main.edit_story', story_id=story.id) }}">
                <i class="fa fa-edit fa-lg">Modifier</i>
            </a>

          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">Tags</h4>
            {% for tag in story.tags %}
              <a class="btn btn-light btn-sm mb-1" href="#">{{ tag.name }}</a>
            {% endfor %}
          </div>
        </div><!-- /.card -->
      </aside>
    </div>
  </div>
</div>
{% endblock %}
