.grid-item {
    width: 400px;
}

.navbar-brand {
    text-transform: none;
}

.medium-editor-placeholder-relative:after, .medium-editor-placeholder:after {
    font-size: 1.25rem;
    font-style: normal;
    color: #495057;
}


.medium-editor-element
{
    font-size: 1.25rem;
    font-style: normal;
    color: #495057;
}

.tags {
/*  font:inherit;
  font-weight:normal;
  font-style:normal;
  color:#000;
  border:1px solid;
  display:block;
  line-height:1.25;
  padding:.25em 0 0 .25em;
  cursor:text;
  overflow:hidden;
*/}

.tags span {
  display:block;
  float:left;
  position:relative;
}
.tags .tag,
.tags-input {
  background: #eee;
 margin:0 .25em .25em 0;
/*
  padding:.25em .5em;
*/
  min-height:1.25em;
    cursor:default;
  color: #aaa;
}
.tags .tag:before {content:attr(data-tag)}
.tags:after,
.tags-view:after {
  content:"";
  display:table;
  clear:both;
}
.tags a {
    color: #aaa;
/*  display:inline-block;
  margin:0 0 0 .5em;
  color:#fff;
  text-decoration:none;
  cursor:pointer;
*/}
.tags a:before {content:'\00D7'}
.tags .tags-view {float:none}
.tags .tags-input {
  float:none;
  background:none;
  cursor:inherit;
  min-width:1em;
  color: #aaa;
}
.tags-input span {
  float:none;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:4;
  padding:inherit;
}
.tags-input span + span {
  position:static;
  padding:0;
  opacity:.5;
}
.tags .tag + .tags-input {float:left}
.tags .tag + .tags-input span + span {display:none}
.tags-input span:focus + span {opacity:.4}
.tags-output {
  position:fixed;
  top:-9999px;
  left:-9999px;
}

.card-body .post {
  font-size: 1.5rem;
}

.sl-leftcol {
  background: #ff9e2c;
  grid-column:1;
}
.sl-rightcol {
  grid-column:2;
}
.sl-grid {
  display: grid;
}

.icon-col {
  width: 25px;
  text-align:center;
}

textarea.form-control {
  height: 100%;
}

.card-header h3, .card-header a h4 {
  color: #01b4bc;
}

.svg-inline--fa {
  color: #fa8925;
}

.navbar-light .navbar-brand {
  color: #5fa55a;
}

.card-title .card-calendar .svg-inline--fa{
  color:#fa5457;
}

.card.map {
  padding:0;
}

blockquote p.quotation-mark
{
  padding:0;
  margin-top: 10px;
  margin-bottom:0;
  font-size:200%;
  line-height:1;
  color: #01b4bc;
}
blockquote p.quotation-text
{
  padding:0;
  margin-top:-30px;
  color: #01b4bc;
}
h3 {
  color: #01b4bc;
}

.text-muted {
  color: #01b4bc!important;
}

img.in-text {
  margin-right: -1.5rem;
}

img.in-text-left {
  margin-left: -1.5rem;
}


#imagesOfTheDay {
  background-color:black;
  border-radius:15px;
}

.btn-primary, .btn-default {
  background-color: #fa8925;
  color: white;
}

.alert-info {
  color: #fa8925;
}

.story .card-text {
  font-size:1rem;
}

img.inline-img {
  width:480px;
  max-width:33%;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;

}

.carousel-caption {
  color: white;
  font-size: 4rem;
  letter-space: 0.2rem;
  text-transform: uppercase;
}


@media screen and (max-width: 768px) {
  .carousel-caption {
     font-size: 18px;
  }
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  }
