{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content%}
<div class="row">

    <div class="col-sm order-md-1 order-sm-2 order-xs-2 text-center">
      <div>
      </div>
      <article class="card card-outline mb-4">
        <img class="card-img-top" src="">
        <div class="card-body">
          <header>
            <h4 class="card-title">It is what it is</h4>
          </header>
          <p class="card-text">
            <p>Sur invitation uniquement 😇</p>
            <p>By Invitation Only 🤓</p>
            <p>Nur auf Einladung 🧐</p>
            <p>Solo su invito 😜</p>
          </p>
        </div>
      </article><!-- /.card -->

    </div>

    <div class="col-sm order-md-2 order-sm-1 order-xs-1">
        <h1>Connectez-vous</h1>
        <div class="row">
            <div class="col-sm">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}
