<p>Salut {{ user.username }}</p>

<p>
    Tu peux désormais suivre les aventures des Boulomb aux USA. Clique
        <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">ici</a>
    pour définir ton mot de passe. Ce lien n'est valide que 48 heures. Si tu ne te connectes pas dans le temps, le site te dira de m'envoyer un SMS pour recevoir un nouveau lien. Ton nom d'utilisateur est: <b>{{ user.username }}</b>.
</p>
<p>Le site est encore en version beta (ouais, ouais). Merci de me faire parvenir tous tes commentaires/suggestions. Pour l'instant les google maps ne sont pas bien représentées sur iPhone & co, elles sont trop zoomées ; il suffit de faire un zoom out pour mieux les voir. Bon en même temps il n'y a pas encore de cartes, la première arrivera demain lorsque Véro, Lynn et Solal s'envoleront pour Portland</p>
<p>A+,</p>
<p>The Boulomb</p>
<p>ps: ajoute <a href="mailto:thelomb@our-storylines.com">thelomb@our-storylines.com</a> à tes contacts, histoire que les prochains messages (s'il devait y en avoir) ne passe pas directement dans les spams.</p>
